<app-toolbar class="toolbar" sticky="sticky">
    
    <a href="${app}/index.html?collection=${collection}" data-i18n="[title]browse.${collection}.title" title="" data-template="pages:parse-params">
        <paper-icon-button icon="icons:folder-open"/>
    </a>
    

    
    
    <pb-zoom emit="transcription" direction="in" icon="icons:zoom-in"/>
    <pb-zoom emit="transcription" direction="out" icon="icons:zoom-out"/>
    

    
    
    
    <paper-icon-button icon="icons:menu" drawer-toggle="drawer-toggle"/>
    <pb-progress subscribe="transcription" indeterminate="indeterminate" bottom-item="bottom-item"/>
</app-toolbar>